.logindiv {
    margin: 15vh auto;
    width: 40%; 
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(43, 80, 182);
    padding: 20px; 
    border-radius: 10px; 
    background-color: rgb(115, 159, 145);
}

#logintitle {
    text-align: center; 
    margin-bottom: 20px; 
}

#loginbtn {
    display: flex;
    align-self: center;
    justify-self: center    ;
    margin-top: 10px;
}

.logindiv h5 {
    text-align: center;
    margin-top: 20px; 
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

